# Payroll Subsystem Integration - CODEOWNERS

/backend/src/payroll-configuration/ @moussa101
/backend/src/payroll-execution/ @omarbelo23
/backend/src/payroll-tracking/ @MarwanHulk

/backend/package.json @moussa101 @omarbelo23 
/backend/nest-cli.json @moussa101 @omarbelo23 
/backend/src/app.module.ts @moussa101 @omarbelo23 
/backend/src/main.ts @moussa101 @omarbelo23
